/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: "Helvetica Neue", sans-serif; color: #111; background: #fafafa; height: 100%;}

/* Header */
.header { display: flex; justify-content: space-between; align-items: center; padding: 1rem 2rem; background: #000000; border-bottom: 1px solid #ffffff; position: sticky; top: 0; }
.logo { letter-spacing: 0.2em; font-weight: bold; text-decoration: none; color: #ffffff; }
.nav a { margin: 0 0.5rem; text-decoration: none; color: #ffffff; font-size: 0.9rem; }
.nav a:hover { opacity: 0.6; }
.actions button { background: none; border: none; font-size: 1.2rem; cursor: pointer; }

/* Hero */
.hero { height: 60vh; background: url('img_boutique/fondoperfumes1') center/cover; display: flex; align-items: center; justify-content: center; text-align: center; color: #fff; }
.hero-content { background: rgba(0,0,0,0.5); padding: 2rem; border-radius: 1rem; }
.hero h1 { font-size: 2.5rem; margin-bottom: 1rem; }
.hero p { margin-bottom: 1rem; }
.btn { padding: 0.8rem 1.5rem; border: none; border-radius: 1rem; background: #fff; color: #000; cursor: pointer; font-weight: bold; }

/* Productos */
.productos { padding: 3rem 2rem;}
.productos h2 { text-align: center; margin-bottom: 2rem; font-weight: 300; }
.grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); gap: 1.5rem; }
.card { background: #fff; border-radius: 1rem; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.1); text-align: center; }
.card-img { height: 600px; background-size: cover; background-position: center; }
.card h3 { margin: 1rem 0 0.5rem; font-weight: 400; }
.card p { margin-bottom: 1rem; color: #555; }
.btn-sec { margin-bottom: 1rem; padding: 0.6rem 1.2rem; border: none; border-radius: 1rem; background: #000; color: #fff; cursor: pointer; }

/* Newsletter */
.newsletter { text-align: center; padding: 3rem 1rem; background: #f0f0f0; }
.newsletter h2 { font-weight: 300; margin-bottom: 0.5rem; }
.newsletter form { margin-top: 1rem; display: flex; justify-content: center; gap: 0.5rem; flex-wrap: wrap; }
.newsletter input { padding: 0.6rem; border-radius: 1rem; border: 1px solid #ccc; width: 250px; }
.newsletter button { padding: 0.6rem 1.2rem; border-radius: 1rem; border: none; background: #000; color: #fff; cursor: pointer; }

/* Footer */
.footer { background: #000; color: #fff; text-align: center; padding: 1rem; margin-top: 2rem; }

